* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: white;
  font-family: "NanumSquare", sans-serif;
  font-weight: 300;
}

/* header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 52px;
  background-color: transparent;
}

.header.scrolled {
  background-color: #111;
  transition: 0.2s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;

  width: 95vw;
  margin: 0 30px;
  font-size: 0.8rem;
}

.navbar .left_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar li {
  list-style: none;
  padding: 1rem;
}

.navbar li a {
  padding: 2px 2px;
  color: #fff;
  text-decoration: none;
}

.navbar li a:hover {
  color: #787878;
  transition: 0.3s;
}

.logo {
  display: flex;
  align-items: center;

  width: 90px;
  height: 45px;
}

.logo img {
  width: 100%;
  margin-top: 8px;
}

.navbar select {
  display: none;
}

.searchbar {
  position: relative;
}

.show_hidden {
  display: none;
  opacity: 0;
}

.search_button {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.search_input {
  padding: 5px 10px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.search_img {
  position: absolute;
  top: 50%;
  left: 6px;

  width: 20px;
  height: 20px;

  transform: translateY(-50%);
}

/*모바일 뷰 */
@media (max-width: 830px) {
  header {
    display: flex;
    justify-content: center;
  }

  .navbar {
    width: 85%;
  }

  .right_container {
    display: flex;
    justify-content: end;
  }

  .navbar ul {
    display: none;
  }

  .navbar select {
    display: block;
    width: wrap-content;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #111;
    color: white;
  }

  .navbar select option {
    margin-top: 50px;
    padding: 10px;
  }
}

/*banner*/
.banner {
  margin-bottom: 180px;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 240px;
}

.banner_content {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
  width: 100%;
}

.banner_title {
  width: 60%;
  padding-bottom: 0.3rem;
}

.banner_btn {
  display: flex;
  width: 50%;
  padding: 0.5rem 0.5rem;
  gap: 10px;
}

.banner_btn button {
  display: flex;
  align-items: center;
  padding: 3px 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 18px;
}

.banner_content :first-child {
  background-color: white;
}

.banner_btn button:nth-child(2) {
  background-color: rgba(128, 127, 127, 0.33);
  color: white;
}

.banner_btn button img {
  width: 40px;
}

.banner_btn button:hover {
  background-color: rgb(171, 163, 163);
  cursor: pointer;
}

.banner_description {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}
